:root {
	--sidebarColor: #000;
	--sidebarColorLighter: #0a0a0a;
}
div#app {
	--color1: var(--sidebarColor);
	--color2: var(--sidebarColor);
	background: var(--sidebarColor);
}

#app-sidebar {
	background: var(--sidebarColor);
	border-right: none !important;
}

#app-main .app-chrome::before {
	background: var(--sidebarColor);
}

.app-chrome {
	background: var(--sidebarColor);
	box-shadow: none !important;
}

#app-main
	.app-chrome
	.app-chrome--center
	.app-playback-controls
	.playback-info {
	background: var(--sidebarColor);
}

.app-navigation #app-content {
	background: var(--sidebarColorLighter);
	border-left: none !important;
}
